<div class="artisan-top">
    <div class="the-pixel">
        <div class="the-image">
            <img src="images/avatar-hat.jpeg" alt="Cool Brown Baggy Type Hat">
            <h2 class="artisan-title">The</h2>
        </div>
        <div class="pixel artisan-title">Pixel</div>
    </div>
    <div class="artisan-image">
        <img src="images/avatar-two-stars.jpeg" alt="Niccolò Miranda is an award-winning designer & developer who’s passionate about creating iconic digital experiences through motion, typography and creative coding for worldwide brands.">
    </div>
</div>
