<div class="awards">
    <div class="awards-container">
        <div class="award-info">
            <div class="award-content">
                <h3 class="award-init">Site of the day</h3>
                <h3 class="award-title">Awards</h3>
            </div>
            <h3 class="award-number">9</h3>
        </div>
        <div class="award-info">
            <div class="award-content">
                <h3 class="award-init">Site of the month</h3>
                <h3 class="award-title">Winners</h3>
            </div>
            <h3 class="award-number">1</h3>
        </div>
        <div class="award-info">
            <div class="award-content">
                <h3 class="award-init">FWA of the day</h3>
                <h3 class="award-title">Awards</h3>
            </div>
            <h3 class="award-number">6</h3>
        </div>
        <div class="award-info">
            <div class="award-content">
                <h3 class="award-init">Acclaimed</h3>
                <h3 class="award-title">Menti<span class="f-span">O</span>ns</h3>
            </div>
            <h3 class="award-number">9</h3>
        </div>
    </div>
</div>