<div class="element-project">
    <div class="elements__image">
        <img src="images/sneakers.webp" alt=" The Roger Hub is an immersive web experience showcasing the tennis-inspired 'On' sneakers, a collaboration born out of a partnership with the legendary Roger Federer.">
    </div>
    <h4 class="element-project__heading">THE ROGER HUB<span>NEW</span></h4>
    <p>The Roger Hub is an immersive web experience showcasing the tennis-inspired 'On' sneakers, a collaboration born out of a partnership with the legendary Roger Federer.</p>
</div>