<div class="testimonials">
    <div class="space">
        <div class="testimonial-container">
            <div class="testimonial-content">
                <div class="comment">
                    <p>“Blurring the line between design & dev, Niccolo has an umatched eye for detail and precise execution in his work which pushes the whole industry forward”</p>
                </div>
                <div class="media-object">
                    <img src="images/sam-day.jpg" alt="">
                    <div class="details">
                        <h4 class="testimonial-name">SAM DAY</h4>
                        <h5 class="testimonial-occupation">Creative Director & Designer</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>